@import "tailwindcss";

body {
    background-color: #b0c0d0;
}

nav {
    background-color: #b0c0d0;
    font-family: monospace;
}

main {
    margin-top: 85px;
    margin-inline: 55px;
}

.welcome {
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 4px black;
    margin-bottom: 1rem;
}

.speech_box {
    font-family: monospace;
    left: 13%;
    top: 1.3rem;
}

.sample {
    font-family: 'Press Start 2P', monospace;
    top: 3.8rem;
    left: 15%;
    text-shadow: 3px 3px black;
}

.a_bit {
    font-family: monospace;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 2s ease, opacity 0.5s ease, z-index 2s ease;
  width: 50%;
  padding: 0rem 4rem;
  z-index: 100;
}

.carousel__photo.active {
  opacity: 1;
  z-index: 850;
  transform: translateX(-50%);
}

.carousel__photo.left_item {
  opacity: 1;
  z-index: 800;
  transform: translateX(-90%);
}

.carousel__photo.right_item {
  opacity: 1;
  z-index: 800;
  transform: translateX(-10%);
}

.carousel__photo.next {
  transform: translateX(150%);
}

.carousel__photo.prev {
  transform: translateX(-250%);
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  font-size: 35px;
  color: white;
  font-family: 'Press Start 2P', monospace;
  -webkit-text-stroke: 2px black;
  transform: translateY(0%);
  transform: scale(1);
  transition: transform 0.3s ease;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
}

.carousel__button--prev:hover, 
.carousel__button--next:hover {
  transform: scale(1.2);
}

.carousel__button--prev {
  left:3rem;
  top: 30%;
}
.carousel__button--next {
  right:2rem;
  top: 30%;
}