body {
    background-color: #b0c0d0;
}

/* NAVBAR */
.desktop-nav {
    display: none;
}

.nav-button {
  color: black;
  text-decoration: none;
}

.nav-button:visited {
  color: inherit;
}

.nav-button:hover {
    color: red;
}

.mobile-nav {
    display: inline;
    top: 1rem;
    left: 1rem;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.navbar-mobile-items {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.nav-box {
    display: flex;
    height: 3rem;
    width: 20vw;
    flex-shrink: 0;
    background-color: #ffffff;
    border: 0.1rem solid black;
    font-size: 4.5vw;
    font-family: monospace;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */  
    user-select: none;
}

.nav-box:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}

.nav-mobile-right-items {
    display: none;
    margin: 0;
    padding: 0;
    height: 3rem;
    flex: 1;
    background-color: #ffffff;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    font-family: monospace;
    font-size: 4.5vw;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav-mobile-right-items-off {
    display: flex;
}

@media(min-width: 1024px) {
    .mobile-nav {
        display: none;
    }
    
    .desktop-nav {
        display: inline;
        background-color: #b0c0d0;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 5000;
        font-size: 1rem;
        font-family: monospace;
    }

    .navbar-items {
        max-width: 1400px;
        width: 100%;
        margin-inline: auto;
        padding-inline: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .right-nav {
    display: flex;
    gap: 2rem;
    list-style: none;
    width: auto;
    }

    .anchors {
        display: flex;
        align-items: center;
        margin-inline: 1%;
        margin-top: 0;
        padding-top: 0;
        
    }

    #left-anchor {
        font-size: 10px;
        --tw-leading: 1;
        line-height: 0.5;
        margin-left: calc(var(--spacing) * 6);
    }

    #right-anchor {
        font-size: 10px;
        --tw-leading: 1;
        line-height: 0.5;
        margin-right: calc(var(--spacing) * 6);
    }

    .nav-hr {
        flex-grow: 1;
        margin-inline: 0.5%;
        border: none;
        border-top: 1px solid black;
        margin: 0 0.5%;
    }
}

/* HERO SECTION */
.welcome {
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    margin-top: 5.5rem;
    text-align: center;
    text-shadow: 3px 3px black;
}

.welcome_message {
    display: none;
}

.computer-model {
    width: 17rem;
    height: auto;
    aspect-ratio: 3 / 4;
    margin: auto;
}

@media(min-width: 1024px) {
    .computer-model {
        width: 18rem;
        height: auto;
        aspect-ratio: 3 / 4;
        justify-self: end;
        margin-right: 7rem;
    }

    .hero_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .welcome_message {
        display: inline;
        position: relative;
        width: 40%;
        height: auto;
        justify-self: start;
        margin-left: -7rem;
        top: 1rem;
    }

    .welcome_image {
        width: 31rem;
        height: auto;
    }

    .welcome_text {
        position: absolute;
        font-family: monospace;
        top: 1.6rem;
        left: 7.8rem;
        font-size: .97rem;
        width: 19.7rem;
    }

    .welcome_hr {
        height: 0.5rem;
    }
}

/* ABOUT */
.a_bit {
    font-family: 'Press Start 2P';
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    text-shadow: 3px 3px black;
    margin-top: 2rem;
}

.about {
    top: 1rem;
    position: relative;
    margin: auto;
    height: auto;
    width: 70vw;
    font-family: monospace;
    font-size: 2.3vh;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.about_hr {
    height: 1rem;
}

.corner {
    position: absolute;
    width: 25px;
    height: 25px;
}

.corner_tl {
    top: 0;
    left: 0;
    border-top: 4px solid black;
    border-left: 4px solid black;
}

.corner_tr {
    top: 0;
    right: 0;
    border-top: 4px solid black;
    border-right: 4px solid black;
}

.corner_bl {
    bottom: 0;
    left: 0;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

.corner_br {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

@media(min-width: 1024px) {
    .about {
        position: relative;
        font-family: monospace;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 30rem;
        height: 90%;
    }
}

.desktop_project_container {
    display: none;
}

.mobile_project_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.floppy {
    width: 15rem;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    margin-top: 2rem;
}

.floppy_deck {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    font-size: 5rem;
    color: white;
    font-family: 'Press Start 2P', monospace;
    -webkit-text-stroke: 3px black;
    top: 40%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    user-select: none;
}

.carousel__button--prev {
    left: 5%;
}

.carousel__button--next {
    right: 3%;
}

.carousel__button--prev:hover, 
.carousel__button--next:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

.sample {
    margin-top: 3rem;
    text-align: center;
    font-family: "PRESS START 2P";
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 3px 3px black;
}

@media(min-width: 1024px) {
    .mobile_project_container {
        display: none;
    }

    .desktop_project_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        width: min(100%, 1200px);
        margin-inline: auto;
        margin: auto;
        height: auto;
        margin-top: 4rem;
    }

    .project_folder {
        position: relative;
        justify-self: start;
        width: 25rem;
    }

    .folder_image {
        width: 100%;
    }

    .folder_text {
        position: absolute;
        top: 0;
        margin-left: 2rem;
        margin-top: 6.7rem;
        font-family: "PRESS START 2P";
        font-size: 1.5rem;
        color: white;
        text-shadow: 3px 3px black;
    }

    .folder_hr {
        height: 2rem;
    }

    .project_slides {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .project_file {
        opacity: 0;
        position: absolute;
        width: 15rem;
        height: auto;
        transition: transform 1s ease, opacity 1s ease;
    }

    .folder_button_prev,
    .folder_button_next {
        position: absolute;
        font-size: 5rem;
        color: white;
        font-family: 'Press Start 2P', monospace;
        -webkit-text-stroke: 3px black;
        top: 40%;
        cursor: pointer; 
        z-index: 1001; /* Sit on top of everything */
        user-select: none;
    }

    .folder_button_prev {
        left: 1.5rem;
    }

    .folder_button_next {
        right: 1.5rem;
    }
    
    .folder_button_prev:hover, 
    .folder_button_next:hover {
        transform: scale(1.1);
        transition: transform 0.1s ease;
    }

    .project_file.active {
        opacity: 1;
        z-index: 850;
        transform: translateX(-0%);
    }

    .project_file.left_item {
        opacity: 1;
        z-index: 800;
        transform: translateX(-10rem);
    }

    .project_file.right_item {
        opacity: 1;
        z-index: 800;
        transform: translateX(9.3rem);
    }

    .project_file.next {
        transform: translateX(250%);
    }

    .project_file.prev {
        transform: translateX(-150%);
    }
}