body {
    background-color: #b0c0d0;
}

/* NAVBAR */
.desktop-nav {
    display: none;
}

.nav-button {
  color: black;
}

.nav-button:visited {
  color: inherit;
}

.nav-button:hover {
    color: purple;
}

.mobile-nav {
    display: inline;
    top: 1rem;
    left: 1rem;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.navbar-mobile-items {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.nav-box {
    display: flex;
    height: 3rem;
    width: 8rem;
    flex-shrink: 0;
    background-color: #ffffff;
    border: 0.1rem solid black;
    font-size: 2rem;
    font-family: monospace;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */  
    user-select: none;
}

.nav-box:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}

.nav-mobile-right-items {
    display: none;
    margin: 0;
    padding: 0;
    height: 3rem;
    flex: 1;
    background-color: #ffffff;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    font-family: monospace;
    font-size: 2rem;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav-mobile-right-items-off {
    display: flex;
}

@media(min-width: 1024px) {
    .mobile-nav {
        display: none;
    }
    
    .desktop-nav {
        display: inline;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 5000;
        font-size: 1rem;
        font-family: monospace;
    }

    .navbar-items {
        display: flex;
        width: 100%;
        margin-inline: auto;
        justify-content: space-between;
        align-items: center;
        padding-block: calc(var(--spacing) * 4);
    }

    #item-1 {
        margin-left: 2vw;
    }

    .right-nav {
        display: flex;
        width: 17%;
        margin-right: 2vw;
        justify-content: space-between;
        list-style-type: none;
    }

    .anchors {
        display: flex;
        align-items: center;
        margin-inline: 1%;
        margin-top: 0;
        padding-top: 0;
    }

    #left-anchor {
        font-size: 10px;
        --tw-leading: 1;
        line-height: 0.5;
        margin-left: calc(var(--spacing) * 6);
    }

    #right-anchor {
        font-size: 10px;
        --tw-leading: 1;
        line-height: 0.5;
        margin-right: calc(var(--spacing) * 6);
    }

    .nav-hr {
        flex-grow: 1;
        margin-inline: 0.5%;
        border: none;
        border-top: 1px solid black;
        margin: 0 0.5%;
    }
}

.welcome {
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    color: white;
    margin-top: 6rem;
    text-align: center;
    text-shadow: 3px 3px black;
}

.computer-model {
    width: 17rem;
    height: auto;
    aspect-ratio: 3 / 4;
    margin: auto;
}